<h2 id="title">Welcome to ember-dc-select</h2>

<p>An Ember 2.4 select component that uses the Data Down, Actions Up pattern.</p>

Selected Option Value: {{selectedOption.value}}
{{dc-select onChange=(action "selectionDidChange")
            selectedOption=(readonly selectedOption)
            options=(readonly options)
            optionValueKey="value"
            optionLabelKey="label"}}

{{outlet}}
